body {
    background-color: rgba(231, 224, 224, 0.735);
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .div-nav-chat {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    border-bottom: 2px solid black; 
    cursor: pointer;
  }
  .btn-src {
    position: absolute;
    margin-left: 150px;
   }
  .div-side-sx {
    margin-bottom: 2px solid black;
    height: 87%;
    overflow-y: scroll;
   }
   h5 {
    font-weight: 700; 
    font-size: medium;
    margin-top: 10px;
    }
    .src {
        border-radius: 30px;
        margin-right: 5px;
     }
    

    p {
        font-size: small; 
        font-weight: 400;
     }
     .container {
        width: 70%; 
        height: 90vh; 
        background-color: rgba(255, 253, 255, 0.976); 
        position: absolute; 
        bottom: 15px; 
        display: flex;
        flex-direction: row; 
        padding-left: 0px;
        border-radius: 30px;
        padding: 0px;
      }
      .container-int {
        flex: 1; 
        height: 100%;
        border-right: 2px solid black;
       }
       .avatar-img {
        height: 60px; 
        border-radius: 30px; 
        margin: 5px;
        }
        .dvi.text {
            height: 100%; 
            margin-top: 5px; 
            margin-bottom: 10px;
         }
         .div-src {
            height: 5%; display: flex; 
            align-items: center; 
            margin-bottom: 2px solid black; 
            justify-content: center; 
            border-bottom: 2px solid black;    
          }
          .div-msg {
            height:5%; 
            display: flex; 
            flex-direction: row;
            align-items: center;
            position: relative;
            
           }
           .write {
            position: absolute;
            margin-top: 30px;
            right: 5px;
            }
           i { 
            height: 50px; 
            width: 50px;
            padding-left: 10px;
           }
           .chat-nsc {
            display: flex; 
            width: 200px;
            height: 50px;
            margin-top: 10px; 
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
            cursor: pointer;
            box-shadow: 1px -1px 15px 5px #706e6e;
            }
            .div-nav-chat:hover {
                background-color: rgba(231, 224, 224, 0.735);
                transition: 0.3s;
             }
             .chat-chiuse {
                width: 100%; 
                height: 60px; 
                position: fixed; 
                bottom: 0px; 
                display: flex;
                justify-content: end; 
                align-items: end; 
                padding-right: 15px;
              }
              .img-chat-chiuse {
                border-radius: 30px; 
                margin-left: 5px; 
                height: 40px; 
                margin-top: 5px;
               }
               .divChats {
                display: flex; 
                justify-content: center; 
                align-items: center; 
                margin-left: 10px;
                }
              